# python相关
**/__pycache__/
*.py[cod]
*.pyo

# 虚拟环境依赖
.venv/
venv/
.env

# 测试和类型检查缓存
.pytest_cache/
.mypy_cache/

# 构建产物
build/
dist/
*.egg-info/


# 日志
logs/
*.log

# 向量存储
**/chroma_db/
**/chroma_snapshots/
**/md5.text
**/chroma_manifest.json
memory_db/

# vscode目录
.vscode/
Thumbs.db
.DS_Store

.deps_installed

# Jetbrains IDEs
.idea/
